# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
dashenv/

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Dependency directories
node_modules/
bower_components/

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# Python-specific
pip-log.txt
pip-delete-this-directory.txt
